{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">ETL process</h5>
        </div>
        <div class="card-body "><div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="card card-user">

            <div class="card-body">
              <form action="/extract" method="POST">
                <div class="row justify-content-md-center">
                  <div class="col-md-1 px-1">
                    <div class="form-group">
                      <label>Movie quantity</label>
                      <input type="number" name="movieQuantity" max="100" min="1" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <div class="col-md-1 px-1">
                    <div class="form-group">
                      <label>Reviews quantity</label>
                      <input type="number" name="reviewsQuantity" max="100" min="1" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <div class="col-md-1 px-1">
                    <div class="form-group">
                      <label>Cast quantity</label>
                      <input type="number" name="castQuantity" max="100" min="1" class="form-control" placeholder="" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" formaction="/fulletl" class="btn btn-primary btn-round">ETL</button>
                    <button type="submit"  class="btn btn-primary btn-round">Extract</button>
                  </div>
                </div>
              </form>
            </div>
          </div>        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}