{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">ETL process step 2</h5>
        </div>
        <div class="card-body "><div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="card card-user">

            <div class="card-body">
              <div class="row justify-content-md-center">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <input type="text" class="form-control" disabled="" placeholder="" value="Extracted data for {{count}} movies">
                  </div>
                </div>
              </div>


              <form action="/transform">
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit"  class="btn btn-primary btn-round">Transform</button>
                  </div>
                </div>
              </form>
            </div>
          </div>        </div>

      </div>
    </div>
  </div>
{% endblock %}